<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cities</title>
</head>
<body ><br><br><br><br>
    <a href="https://www.britannica.com/place/Mumbai">About Mumbai</a><br><br><br><br>
    <a href="https://delhi.gov.in/">About Delhi</a><br><br><br><br>
    <a href="https://hyderabad.telangana.gov.in/">About Hyderabad</a><br><br><br><br>
    <a href="https://www.britannica.com/place/Surat">About Surat</a><br><br><br><br>
    <a href="https://www.holidify.com/places/andaman-nicobar-islands/">About Andaman</a><br><br><br><br>
    <a href="https://pune.gov.in/">About Pune</a><br><br><br><br>
</body>
</html>